<!DOCTYPE html>
<html ng-app="toderp">
  <head>
    <link rel="stylesheet" href="lib/bootstrap3/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="lib/bootstrap3/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>

    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>

    <script type="text/javascript" src="lib/angularFire.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Toderp</a>
      </div>
      <div class="collapse navbar-collapse main-navbar-collapse">
        <a href="#" class="btn btn-default navbar-btn navbar-right" ng-click="login()">Log in</a>
      </div>
    </nav>
    <div class="container" ng-controller="TaskListCtrl">
      <div class="loading" ng-class="{hide:!loading}">Loading tasks...</div>
      <form ng-submit="addTaskFormSubmit($event)" ng-class="{hide:loading}">
        <div class="form-group">
          <div class="input-group">
            <input ng-model="taskDraft" type="text" class="form-control" placeholder="Do this thing...">
            <span class="input-group-btn">
              <button class="btn btn-primary">Add</button>
            </span>
          </div>
        </div>
      </form>
      <h2>Backlog</h2>
      <div id="backlog">
        <ul>
          <li ng-repeat="task in backlog">
            <span class="task-name">{{task.text}}</span>
            <a href="#" ng-click="enqueueTask(task, $index)">Today</a>
            <a href="#" ng-click="deleteBacklogTask(task, $index)">Never</a>
          </li>
        </ul>
      </div>
      <h2>Timeline</h2>
      <div id="timeline">
        <ul>
          <li ng-repeat="tasks in taskList">
            <h4>{{tasks.date | date:'shortDate'}}</h4>
            <ul>
              <li ng-repeat="task in tasks.tasks" ng-class="{complete:task.complete}">
                {{task.text}}
                <a href="#" ng-click="finishTask(tasks, task, $index)">Done</a>
                <a href="#" ng-click="backlogTask(tasks, task, $index)">Not today</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
